// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.style {
	background: #aaaeee;
	text-shadow: 1.0;
	text-decoration: none;
	text-align: center;
	padding: 125px;
	font-size: 55px;
}

.logout:link, .logout:visited {
	padding: 14px 25px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
/*	font-family: monospace;*/
	background-color: #f44336;
}

.logout:hover, .logout:active {
	background-color: red;
}

.alert {
	color: red;
}

.notice {
	color: blue;
}